<div class="container"  ng-controller="CreateCtrl">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">イベント作成</h1>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-md-6">
      <div class="well">
        <form name="eventForm" class="form-horizontal" novalidate>
          <fieldset>

            <legend>下書き</legend>

            <!-- イベント名 -->
            <div class="form-group">
              <label for="eventName" class="col-lg-2 control-label">イベント名</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="eventName" ng-model="eventName" placeholder="イベント名(必須)" required>
              </div>
            </div>

            <!-- 開始日時 -->
            <div class="form-group">
              <label for="startDate" class="col-lg-2 control-label">開始日時</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="startDate" ng-model="startDate">
              </div>
            </div>

            <!-- 終了日時 -->
            <div class="form-group">
              <label for="endDate" class="col-lg-2 control-label">終了日時</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="endDate" ng-model="endDate">
              </div>
            </div>

            <!-- 場所 -->
            <div class="form-group">
              <label for="venue" class="col-lg-2 control-label">場所</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="venue" ng-model="venue">
              </div>
            </div>

            <hr />

            <!-- イベント管理者 -->
            <div class="form-group">
              <label for="mgr" class="col-lg-2 control-label">イベント管理者</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="mgr" ng-model="mgr" placeholder="イベント管理者(必須)"　required>
              </div>
            </div>

            <hr />

            <!-- イベント概要 -->
            <div class="form-group">
              <label for="abstraction" class="col-lg-2 control-label">イベント概要</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="abstraction" ng-model="abstraction">
              </div>
            </div>

            <br />

            <!-- イベント詳細 -->
            <div class="form-group">
              <label for="desc" class="col-lg-2 control-label">イベント詳細</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="5" id="desc" ng-model="desc"></textarea>
              </div>
            </div>
          </fieldset>
        </form>
      </div><!-- well -->
    </div><!-- col-md-6 -->
    <div class="col-md-6">
      <div class="well">
        <form name="previewForm">
          <legend>Preview</legend>
          <div id="preview" ng-bind-html="preview">
          </div>
          <div align="right">
            <button class="btn btn-material-pink-500 btn-raised" ng-click="regist()" ng-disabled="eventForm.$invalid || !registButton">
              <span>作成</span>
            </button>
          </div>
        </form>
      </div>
    </div><!-- col-md-6 -->
  </div><!-- row -->
</div><!-- container -->

