
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/**
 * for navbar-fixed-top
 */
body {
    padding-top: 70px;
}

.btn {
    text-transform: none;
}


.growl {
    position: fixed;
    z-index: 5000;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.9;
}

.growl-item.ng-enter,
.growl-item.ng-leave {
    -webkit-transition: 0.5s ease all;
     -moz-transition: 0.5s ease all;
       -o-transition: 0.5s ease all;
          transition: 0.5s ease all;
}

.growl .alert-warning {
    color: rgba(0, 0, 0, .84);
    background-color: #ebeb00;
}

.thumb {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 4px;
    margin-bottom: 6px;
    min-height: 26px;
}

.comment {
    color: #999;
    margin-top: 0;
    font-size: 10px;
}
