<header class="hero-unit well-material-blue-100" id="banner">
  <div class="container">

    <img src="assets/images/ben33.svg" width="92" height="92"><br />
    <p style="color: #000000;" class="lead">Internal Event Organizer</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <h1 class="page-header">イベント</h1>
    <div class="col-md-8">
      <div class="panel panel-material-blue" ng-repeat="event in allEvents">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a ng-href="/detail/{{event._id}}">
              <b>{{event.eventName}}</b>
            </a>
          </h2>
        </div>
        <div class="panel-body">
          <img class="img-rounded" src="//lorempixel.com/120/90?{{event._id}}" alt="icon" style="vertial-align:text-top;">
          {{event.abstraction}}
        </div>
        <div class="panel-body">
          開催日時：{{event.startDate}} ～ {{event.endDate}}<br />
          開催場所：{{event.venue}}
          <div align="right">
            <a ng-href="/detail/{{event._id}}" class="btn btn-fab btn-material-pink mdi-action-launch">
            </a>
          </div>
        </div>
      </div><!-- ng-repeat -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <ul class="pager">
            <li class="previous" ng-class="{disabled: !prevButton}"><a ng-click="prev()" href="">&lt;&lt;</a></li>
            <li class="next" ng-class="{disabled: !nextButton}"><a ng-click="next()" href="">&gt;&gt;</a></li>
          </ul>
        </div>
        <div class="col-md-2"></div>
      </div>
      <!--
      <div style="text-align:center">
        <ul class="pagination pagination-sm">
          <li class="disabled"><a>≪</a></li>
          <li class="active"><a>1</a></li>
          <li><a>2</a></li>
          <li><a>3</a></li>
          <li><a>4</a></li>
          <li><a>5</a></li>
          <li><a>≫</a></li>
        </ul>
      </div>
      -->
    </div><!-- col-md-8 -->
    <div class="col-md-4">
      <div class="panel panel-material-pink">
        <div class="panel-heading">
          新着情報
        </div>
        <div class="panel-body">
          <ul>
            <li>テスト</li>
            <li>テスト</li>
            <li>テスト</li>
          </ul>
        </div>
      </div>

      <div class="panel panel-material-pink">
        <div class="panel-heading">
          広告
        </div>
        <div class="panel-body">
          テスト
        </div>
      </div>
    </div><!-- col-md-4 -->
  </div><!-- row -->
</div><!-- container -->


